body{
	background-image: url("img/fundos_site.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	background-attachment: fixed;
}

body,ul,li,p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: arial;
}

}
body{
  margin-bottom: 100px;
}

a{
  text-decoration: none;
  color: white
}

h1 {
  text-align: center;
  margin-top: 100px;
}

h2 {
  text-align: center;
  margin: 10px;
	font-family: georgia;
}

img{
  max-width: 100%;
  display: block;
}

.header{
  background:#009688;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu{
  display: flex;
}

.menu li{
  margin-left: 10px
}

.menu li a{
  display: block;
  padding: 0px;
}

.projetos{
	overflow: hidden;
}

.projetos img{
  max-width: 100%;
  -moz-transition: All 0.3s;
  -webkit-transition: All 0.3s;
  transition: All;
}

.projetos:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

main{
	width: 80%;
	background: #66CDAA;
	position: relative;
	top: 10px;
	left: 7%;
	float: left;
	margin: 20px;
	padding-bottom: 20px;
}

main section{
	width: 80%;
	margin-left: 8%;
	padding: 20px;
	margin-top: 30px;
	background-color:white;
}

.projetos{
  display: flex;
  flex-wrap: wrap;
}

.projetos> div{
  flex: 1 1 400px;
  margin: 10px;
}

.pessoal{
	background-color: #E0FFFF;
}

h5{
	display: flex;
  flex-direction:row-reverse;
	margin: 15px;
	font-size: 1.4rem;
	font-family: Helvetica;
  color: 		#363636;
	text-align: justify;
	line-height: 1.5;
  height:0px;
	width:700px;
}

form{
	background-color:#E0FFFF;
	margin: 45px;
	border-radius: 3px;
	width: 90%;
	list-style: none;
	font-size: 1.2rem;
	font-family: arial;
}

 textarea{
	outline: none;
	width: 300px;
}

.field{
	border: solid 1px #ccc;
	padding: 10px;
	outline: none;
	width: 280px;
}

.field:focus{
	border-color: #18A383;
}

.center-content{
	text-align: center;
}

.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 10px 5px;
	font-size: 1.2rem;
	font-family: arial;
	width: 200px;
}

.btn-green{
	color: white;
  background-color: #66CDAA;
}

.btn-green:hover{
	background-color: #009688;
}

.btn-green:active{
	background-color: #008080;
}

.ceo{
	display: flex;
	flex-direction: row;
	margin: 0px;
	width: 240px ;
  height: 300px;
	margin: 0px;
}

.ceoText{
	display: flex;
	flex-direction:row;
	flex-direction: column;
	max-width: 500px;
	margin: 0px;
	padding: 10px;
}

.logos{
  display: flex;
  flex-direction: row;
}

footer h6{
  display: flex;
  flex-direction:row-reverse;
  color: white;
	margin: 0px;
}

footer{
	 display: block;
	 clear: both;
	 height: 115px;
	 padding: 10px;
	 position: relative;
	 background-color: 	#009688;
	 top: 170px;
	 bottom: 0px;
	 overflow: hidden;
	 padding-bottom: 40px;
}
